.artist-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
}

.artist-cover-container {
  grid-row: 1 / 5;
  grid-column: 1 / -1;
}

.artist-cover {
  display: block;
  width: 100%;
}

.artist-image-container {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.artist-image {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.artist-name {
  grid-column: 4 / -1;
  grid-row-start: 5;
  background-color: rgba(255, 242, 242, 0.808);
}

.artist-bio {
  grid-column: 4 / -1;
  grid-row-start: 6;
}
